{% extends 'base.html.twig' %}
    {% block content %}
        <h1>Welcome to Pokemon Battle !</h1>

        <div class="col-md-6">
            <p>I already have a Pokemon</p>
            <a href="sign-in.php">Sign in</a>
        </div>

        <div class="col-md-6">
            <p>I don't have a Pokemon</p>
            <a href="sign-up.php">Sign up</a>
        </div>
    {% endblock %}