{% extends 'base.html.twig' %}
    {% block content %}
    <h1>Sign Up</h1>

    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">

        <button name="submit">Submit</button>
    </form>
{% endblock %}