{% extends 'base.html.twig' %}
    {% block content %}
        <h1>Sign In</h1>

        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">

            <button name="sign_in">Sign in</button>
        </form>
    {% endblock %}